*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

 body {
    width: 100vw;
    height: 100vh;
    
    font-family:'Philosopher', sans-serif;
    overflow-x: hidden;
}

.navigation-header { 
    /* background-color: rgb(73, 51, 153); */
    /* background-color: aliceblue; */
     padding: 0 15px; 
     height: 60px; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
    }
    
    
    nav { 
        width: 100%; 
        max-width: 1200px; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    } 


    .logo-container img{
        height: 48px;
        /* background-color: rgb(99, 88, 73); */
        align-items: center;
        padding-top: 20px;
        margin-left: 60px;
        line-height: 60px;

    }

    .logo-container label{
      color: #052e4b;
      font-size: 25px;
      font-weight: 600;
      margin-left: 2px;
/* border: 3px solid red; */
      align-items: center;
      line-height: 60px;
    } 


    .navigation-items { 
        display: flex;
        gap: 30px; 
    }
    
    
    .navigation-items  a { 
        /* color: ghostwhite;  */
        line-height: 60px;
        color: #052e4b;
        text-decoration: none; 
        font-weight: 500; 
        font-size: 16px; 
        transition: .4s ease-in-out; 
    } 


    .navigation-items a:hover { 
        /* background-color: red; */
        text-decoration: underline;
        border-radius: 50px;
        font-size: 15px;
        border: none; 
        color: #31304D;
     } 


     .hamburger { 
        display: none;
         font-size: 20px; 
         font-weight: 800; 
         color: #052e4b; 
        } 
        










   
    

 














/* body text */

#top{
    display: flex;
    background-color: #cac7c7;
    height: 80vh;
    width: 100%;
    padding-top: 20px;
    
}

#top .maintext{
    width: 50%;

    
}

#top .maintext h1{
    margin: 60px 10px 10px 140px;
    align-content: stretch;
    width: 500px;
    height: 240px;
    font-size: 50px;
    color: #31304D;
    /* background-color: red;
    border: 10px solid #128188; */

}

#top .maintext p{
    margin: 10px 10px 10px 140px;
    color: #3E3232;

}

#top .maintext button{
    height:40px ;
    width: 150px ;
    margin: 15px 140px;

    /* box-shadow: 1px 1px 6px 0px rgb(49, 46, 46); */

    /* background-color: #7fc7d9  #40a2d8; #659dbd  #55bcc9 #97caef*/
    background-color:  #7395ae;
    color: #052e4b;
    border-radius: 50px;
    align-items: center; 
    overflow: hidden;
    text-decoration: none;
    border: 1px solid #7395ae;
    font-size: 15px;
    font-family:'Philosopher', sans-serif;

}


#top .maintext button:hover{
    text-decoration: underline;
    color: rgb(234, 231, 238);
    background-color: #505e5f;
    font-size: 16px;
    border: none;

}

#top .image{
    width: 50%;
}

#top .image img{
    /* margin: 40px 80px ; */
    width: 700px;
    height: 450px;
    /* box-shadow: 0px 0px 6px 0px gray; */
    /* filter: drop-shadow(10px 10px 26px 0px gray); */
    /* filter: drop-shadow(2rem 2rem 2rem gray); */
    filter: drop-shadow(0.5rem 0.5rem 0.3rem grey);
    /* background-color: yellow;
    border: 10px solid #128188; */
    


}

/* #top .logo2 img{
    margin: 0px 0px;
    
} */

.heading{
    align-items: center;
    text-align: center;
    margin: 80px;
    font-size: 25px;
    color: #31304D;
}

#bottom{
    display: flex;
    margin: 10px 140px;
    width: 100vw;
}

#bottom .box{
    width: 300px;
    height: 340px;


    margin: 40px;
    border-radius: 20px;
    /* background-color: #ddbece; */
    /* background-image: url("img/bgimg2.webp"); */
    box-shadow: 0px 0px 0.1rem 0 grey;
    /* border: 1px solid #b3b1b1;  #dfebd4 #dfcada  #e6c9de */
}


#bottom .box img{
    width: 150px;
    height: 130px;
    /* margin: 60px; */
    margin: 40px  80px 20px 80px;
    align-items: center;
     /* box-shadow: 0px 0px 8px 0px gray; */
     filter: drop-shadow(0.1rem 0.1rem 0.1rem gray);
    

}



#bottom .box h4{
    text-align: center;
    align-items: center;
    color: #052e4b;
   
}

#bottom .box p{
    text-align: center;
    align-items: center;
    color: #3E3232;
    padding: 0px 50px;
    font-size: 14px;
    

}


/* 2nd page */


#mainsection{
    width: 100%;
    height: 250vh;
    margin-top: 100px;
    background-color: #cac7c7;
  
}

#mainsection .text{
    display: flex;

    /* float: left; */
    width: 100%;
    /* background-color: red;
    border: 10px solid black; */
    
}


#mainsection .text .image img{
    width: 400px;
    height: 280px;
    /* float: left; */
    
    
     margin: 20px 100px; 
    align-items: center;
     /* filter: drop-shadow(0.5rem 0.5rem 0.5rem gray);  */
    filter: drop-shadow(0.5rem 0.5rem 0.5rem grey);
    

    
}

#mainsection .text .search{
    width: 100%;
    height: 100%;
    /* padding-top: 50px; */
     /* background-color: rgb(13, 88, 3);
    border: 10px solid #000000; */
    align-items: center;
    text-align: left;
    /* margin: 0px 60px; */
    margin: 50px 100px;
    padding: 0px 30px;
    
}


#mainsection .text .search h2{
    
    font-size: 28px;
    width: 400px;
}

#mainsection .text .search hr{
    width: 330px;
    margin-left: 0px;
    

    border: 2px solid #128188;
    
}

#mainsection .text .search p{
   
    font-size: 14px;
    align-content: stretch;
    
    line-height: 1.5em;
    
}




.heading2{
  
    align-items: center;
    text-align: center;
    padding-top: 60px;
    color: #128188;
 
    font-size: 25px;
    
}

#pricingplan{
    /* width: 100%;
    height: 600px;
    margin-top: 30px;
    background-color: #8FDDE2;
    display: flex; */


    display: flex;
    margin: 60px 140px;
}




#pricingplan .box2{
    width: 320px;
    height: 450px;
    margin: 20px;
    border-radius: 20px;
    /* border: 1px solid #cac7c7; */
    box-shadow: 0.4px 0.4px 2px 0 grey;
    
    align-items: center;
  text-align: center;
    /* justify-content: center; */
}

#pricingplan .box2 h4{
    font-size: 25px;
    color: #128188;
    margin: 40px 0px 20px 0px;
}

#pricingplan .box2 h3{
    text-align: center;
    margin: 20px 0px;
    
}


#pricingplan .box2 h3 sub{
align-items: center;
margin-left: 2px;
}


#pricingplan .box2 h6{
    font-size: 14px;
    text-decoration: 2px underline;
    margin: 20px 0px;
}

#pricingplan .box2 .checkmark{
   
    

  display: flex;
    margin-left: 75px;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem gray);
    /* align-items: center;
    text-align: center;
     */
    


}

#pricingplan .box2 .checkmark img{
    width: 20px;
    height: 20px;
    margin: 10px 0px;

    gap: 10px;

}

#pricingplan .box2 .checkmark h5{
    

    font-size: 14px;
    margin: 12px;
  
  
    align-items: center;
    
}

#pricingplan .box2 .checkmark h5:hover{
    text-decoration: underline;
    color: #505e5f;
    font-size: 14px;
    border: none;

}



#pricingplan .box2 button{
    height:40px ;
    width: 200px ;
    margin: 20px 40px;

    font-family:'Philosopher', sans-serif;

    background-color: #128188;
    color: #ffffff;
    border-radius: 50px;
    align-items: center; 
    overflow: hidden;
    text-decoration: none;
    border: 1px solid #128188;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem gray);
    
        /* box-shadow: 1px 1px 6px 0px rgb(49, 46, 46); */
    /* filter: drop-shadow(10px 10px 26px 0px gray); */

}


#pricingplan .box2 button:hover{
    text-decoration: underline;
    color: rgb(234, 231, 238);
    background-color: #505e5f;
    font-size: 16px;
    border: none;

}

#gen{
    width: 100%;
    height: 400px;
    background-color: #cac7c7;
    display: flex;
}

#gen .nextgen {
    align-items: center;
    text-align: left;
    margin-top: 60px;
    
    

}

#gen .nextgen h2{
    align-items: center;
    text-align: left;
    padding: 40px 200px;
    flex-basis: 20%;
}


#gen .image img{
    width: 500px;
    height: 300px;
    margin: 40px 100px;
    /* box-shadow: 1px 2px 4px 0px #3E3232; */
    filter: drop-shadow(0.5rem 0.5rem 0.5rem grey);
    

}


#gen .nextgen p{
    
    width: 60%;
    height: 40%;
    margin: 0px 200px;

    
    font-size: 14px;
    padding-top: 0px;
    line-height: 1.5em;
    align-items: center;
    text-align: left;
}


#lastpart{
    align-items: center;
    text-align: center;
    padding-top: 60px;
 

}

#lastpart .textpart h2{
    margin-bottom: 10px;
}

#lastpart .imagepart{
    display: flex;
    margin-left: 150px;
    padding-top: 60px;
    /* filter: drop-shadow(0rem 0rem 0.1rem rgb(8, 8, 8)); */
    
}

#lastpart .imagepart img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: drop-shadow(0.01rem 0.01rem 0.2rem rgb(8, 8, 8));
    
   
    margin-left: 90px;
}


#lastpart .imagepart h6 {
    margin-left: 100px;
    font-size: 14px;
    padding: 20px 0px 10px 0px;

}
#lastpart .imagepart p {
    margin-left: 100px;
    
    font-size: 14px;
    padding: 0px 0px 20px 0px;

}



/*  Media Queries */


@media (min-width: 800px) and (max-width: 1200px){

    .navigation-header{
        padding: 0px;
    }

    .logo-container{
        margin: 0px 50px;
        /* background-color: #128188; */
        height: 60px;
    }

    .logo-container img{
        margin-left: 0px;
        line-height: 0px;
        
    }



    .navigation-items{
        margin-right: 20px;
    }




    /* .logo-container label{
        font-size: 25px;
    } */

    /* .container .links ul{
        margin-right: 0px;
    } */

    
    
    #top{
        height: 350px;
    }

    #top .maintext h1{
        margin: 15px 50px;
        width: 300px;
        height: 152px;
        font-size: 30px;
    }

    #top .maintext p{
        margin: auto;
        margin-left: 50px;
    }

    #top .maintext button{
        margin: 15px 50px;
    }
    


    #top .image img{
        width: 400px;
  height: 250px;
    }


    .heading{
        margin: 40px;

    }

    #bottom{
        flex-wrap: wrap;
        margin: 0px 10px;
    }

    #bottom .box{
        width: 250px;
        /* margin: 10px; */
        margin: 6px;
    }
    
    #bottom .box img{
        margin: 20px 80px 20px 50px;
    }


    #mainsection{
        height: 800px;
    }

    #mainsection .text{
        /* display: block; */
        width: 50%;
    }


    #mainsection .text .image{
        height:250px;

    }

    #mainsection .text .image img{
        margin: 20px 50px;
        width: 300px;
  height: 200px;

    }

    #mainsection .text .search{
        margin: 30px;
        width: 80%
    }

    #mainsection .text .search hr{
        width: 280px;
    }

    #pricingplan{
        margin: 40px 10px;
    }

    #pricingplan .box2{
        width: 240px;
        margin: 10px;
    }

    #pricingplan .box2 .checkmark{
        margin-left: 30px;
    }

    #pricingplan .box2 button{
        margin: 20px 20px;
    }


    #gen{
        height: 328px;
    }

 #gen .nextgen h2{
        margin: 20px 50px;
    } 

    #gen .nextgen h2{
        padding: 0px 20px;
        width: 300px;
    }

    #gen .image img{
        width: 400px;
        margin: 20px 20px;
    }

    #gen .nextgen p{
        margin: 0px 70px;
        font-size: 13px;
        width: 90%;
    }
    #lastpart .imagepart{
        margin-left: 100px;
    }

    #lastpart .imagepart .hum{
        margin-left: 0px;

    }

    #lastpart .imagepart img{
        margin-left: 40px;
        height: 80px;
        width: 80px;
    }

    #lastpart .imagepart h6{

        margin-left: 50px;
        
    }

    #lastpart .imagepart p{
        margin-left: 50px;

    }
}

@media (min-width: 1000px) and (max-width: 1100px){
    #bottom{
        margin: 0px 5px;
    }

    #pricingplan{
        margin: 40px 10px;
    }
        
    #lastpart .imagepart{
        margin-left: 80px;
    }



}



@media (min-width: 1100px) and (max-width: 1200px){
    #bottom{
        margin: 0px 100px;
    }

    #pricingplan{
        margin: 40px 100px;
    }
        
    #lastpart .imagepart{
        margin-left: 140px;
    }
}

 /* @media (max-width: 1200px){

    #bottom{
        margin: 0px 190px;
    }

    #mainsection{
        width: 100%;
    }

    #pricingplan{
        margin: 40px 190px;
    }

    #lastpart .imagepart{
        margin-left: 240px;
    }
}  */














/* iPhone Media Queries */



@media (min-width: 300px) and (max-width: 499px){

    .logo-container img{
        margin: 0px 2px;
        height: 38px;
    }

    .logo-container label{
        /* font-size: 25px; */
        font-size: 18px;
    }
    
 


    .navigation-header{
        padding: 0px;
        /* position: relative; */

        /* background-color: #052e4b; */
    }

    .logo-container{
        margin: 0px 40px;
        /* background-color: #128188; */
        height: 60px;
    }

    .logo-container img{
        margin-left: 0px;
        line-height: 0px;
        
    }

    .navigation-items a{
        border-top: 1px solid rgba(77, 72, 72, 0.1);
        border-bottom: 1px solid rgba(78, 73, 73, 0.1);
        border-radius: 0px;
        
        width: 100%;
        align-items: center;
        text-align: center;
        color: #fff;
    }

    .navigation-items a:hover { 
        /* background-color: red; */
        text-decoration: underline;
        /* border-radius: 50px; */
        font-size: 15px;
        border: none; 
        color: #adadad;
        /* z-index: 0; */
    } 


    


    

    .hamburger { 
        display: flex;
         cursor: pointer; 
         margin-right: 20px;
        }


         .hamburger #closeHam { 
            display: none; 
        } 

        .navigation-items { 
            display: none;
             flex-direction: column;
              align-items: center;
               position: absolute; 
               right: 0; 
               top: 58px; 
               background-color: #31304D; 
               width: 100%; 
               height: calc(70vh - 58px); 
               padding-top: 60px;
                gap: 0.1vh; 
                z-index: 1;
            } 
    

    



    

/*  .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        background-color: #7395ae;
        width: 100%;
        height: 300px;
        text-align: center;
        padding: 0px;
        gap: 22px;
        cursor: pointer;
    } */


    
    

    
    

   

    #top{
        height: 75vh;
        width: 100%;
        flex-direction: column-reverse;
       overflow: hidden;
       padding-top: 0;
       padding-bottom: 20px;
       
    }

    #top .image{
       width: 100%;
       height: 40vh;
       /* background-color: #052e4b; */
       padding-top: 40px;
    }


    #top .maintext{
        width: 100%;
    }

    #top .maintext h1{
       
        width: 80%;
        margin: 20px 0px;
        margin-left: 50px;

        height: 100px;
        font-size: 1.5rem;
        
    }

    #top .maintext p{
        margin: 0px;
        margin-left: 50px;
        width: 80%;
        font-size: 1rem;
    }

    #top .maintext button{
        margin: 20px 50px;
    }
    


    #top .image img{
        width: 100%;
        height: 100%;
        
    }


    .heading{
        margin: 40px;

    }

    #bottom{
        flex-wrap: wrap;
        margin: 10px;
    }

    #bottom .box{
        width: 250px;
        /* margin: 10px; */
        margin: 10px 50px;
        
    }
    
    #bottom .box img{
        margin: 20px 80px 20px 50px;
    }

    #mainsection{
        height: 250vh;
    }

    #mainsection .text{
        /* display: block; */
        width: 100%;
        flex-direction: column;
    }

    #mainsection .text .zigzag{
        flex-direction: row-reverse;

    }


    #mainsection .text .image{
        height:250px;

    }

    #mainsection .text .image img{
        margin: 20px 50px;
        width: 300px;
  height: 200px;

    }

    #mainsection .text .search{
        margin: 30px;
        width: 80%
    }


    #mainsection .text .search h2{
        margin-bottom: 10px;
    }

    #mainsection .text .search p{
        text-align: center;
  margin-top: 10px;
    }

    #mainsection .text .search hr{
        width: 280px;
    }

    #pricingplan{
        margin: 10px 60px;
        
        flex-direction: column;
    }

    #pricingplan .box2{
        width: 240px;
        height: 430px;
        margin: 10px;
    }

    #pricingplan .box2 h4{
        padding-top: 20px;
       
       
    }
    #pricingplan .box2 .checkmark{
        margin-left: 20px;
    }

    #pricingplan .box2 button{
        margin: 20px 20px;
    }


    #gen{
        flex-direction: column;
        height: 80vh;

    }


    #gen .nextgen{
       
        margin-top: 20px;
       
    }

    #gen .nextgen h2{
        margin: 0px 20px;
    }

    #gen .nextgen h2{
        padding: 20px 20px;
        width: 300px;
    }

    #gen .image img{
        width: 100%;
        margin: 0px 0px;
    }

    #gen .nextgen p{
        margin: 0px 0px;
    width: 100%;
    font-size: 14px;
    align-content: stretch;
    line-height: 1.5em;
    
    height: 80%;
    padding: 0px 40px;
    }
    #lastpart .imagepart{
        margin-left: 0px;
        flex-wrap: wrap;
    }

    #lastpart .imagepart .hum{
        margin-left: 30px;

    }

    #lastpart .imagepart img{
        margin-left: 30px;
    height: 60px;
    width: 60px;
        
    }

    #lastpart .imagepart h6{

        margin-left: 35px;
        font-size: 12px;
      
        
    }

    #lastpart .imagepart p{
        margin-left: 30px;
        font-size: 12px;
        font-family: 'Philosopher', sans-serif;

    }
}





@media (min-width: 500px) and (max-width: 799px){

    

    .navigation-header{
        padding: 0px;
    }

    .logo-container{
        margin: 0px 50px;
        /* background-color: #128188; */
        height: 60px;
    }

    .logo-container img{
        margin-left: 0px;
        line-height: 0px;
        
    }



    .navigation-items{
        margin-right: 0px;
    }
   


    

    .navigation-items a{
        border-top: 1px solid rgba(77, 72, 72, 0.1);
        border-bottom: 1px solid rgba(78, 73, 73, 0.1);
        
        
        width: 100%;
        align-items: center;
        text-align: center;
        color: #fff;
    }

    .navigation-items a:hover { 
        /* background-color: red; */
        text-decoration: underline;
        /* border-radius: 50px; */
        font-size: 15px;
         
        color: #adadad;
        /* z-index: 0; */
        
    } 







    .hamburger { 
        display: flex;
         cursor: pointer; 
         margin-right: 20px;
        }


         .hamburger #closeHam { 
            display: none; 
        } 

        .navigation-items
        { 
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute; 
            right: 0; 
            top: 58px; 
            background-color: #31304D; 
            width: 100%; 
            height: calc(70vh - 58px); 
            padding-top: 60px;
            gap: 0vh; 
            z-index: 1; 
        } 


    

    #top{
        height: 400px;
    }

    #top .maintext h1{
        margin: 30px 50px;
        width: 300px;
        height: 152px;
        font-size: 30px;
    }

    #top .maintext p{
        margin: auto;
        margin-left: 50px;
    }

    #top .maintext button{
        margin: 15px 50px;
    }
    


    #top .image img{
        width: 400px;
  height: 250px;
    }





    .heading{
        margin: 40px;

    }

    #bottom{
        flex-wrap: wrap;
        margin: 0px;
    }

    #bottom .box{
        width: 250px;
        /* margin: 10px; */
        margin: 10px 40px;
        
    }
    
    #bottom .box img{
        margin: 20px 80px 20px 50px;
    }



    #mainsection{
        height: 120vh;
    }

    #mainsection .text{
        /* display: block; */
        width: 50%;
    }


    #mainsection .text .image{
        height:250px;

    }

    #mainsection .text .image img{
        margin: 20px 30px;
        width: 300px;
  height: 200px;

    }

    #mainsection .text .search{
        margin-top: 20px;
        width: 80%;
        margin-left: 20px;
    }

    #mainsection .text .search hr{
        width: 280px;
    }

    #pricingplan{
        margin: 40px 10px;
    }

    #pricingplan .box2{
        width: 240px;
        margin: 10px;
    }

    #pricingplan .box2 .checkmark{
        margin-left: 30px;
    }

    #pricingplan .box2 button{
        margin: 20px 20px;
    }


    #gen{
        height: 328px;
    }

 #gen .nextgen h2{
        margin: 20px 50px;
    } 

    #gen .nextgen h2{
        padding: 0px 20px;
        width: 300px;
    }

    #gen .image img{
        width: 400px;
        margin: 20px 20px;
    }

    #gen .nextgen p{
        margin: 0px 70px;
        font-size: 13px;
        width: 90%;
    }
    #lastpart .imagepart{
        margin-left: 100px;
    }

    #lastpart .imagepart .hum{
        margin-left: 0px;

    }

    #lastpart .imagepart img{
        margin-left: 40px;
        height: 80px;
        width: 80px;
    }

   


    #lastpart .imagepart h6{

        margin-left: 35px;
        font-size: 12px;
      
        
    }

    #lastpart .imagepart p{
        margin-left: 30px;
        font-size: 12px;
        font-family: 'Philosopher', sans-serif;

    }

}
